################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SqlFTP/sqlFTP_Source/sqlFTP/obj/Debug
/SqlFTP/sqlFTP_Source/sqlFTP/obj/Release
/SqlFTP/sqlFTPTest/.vs/sqlFTPTest/v16/.suo
/SqlFTP/sqlFTPTest/.vs/sqlFTPTest/v16/Server/sqlite3/db.lock
/SqlFTP/sqlFTPTest/.vs/sqlFTPTest/v16/Server/sqlite3/storage.ide
/SqlFTP/sqlFTPTest/sqlFTPTest/obj/Debug/sqlFTPTest.csproj.CoreCompileInputs.cache
/SqlFTP/sqlFTPTest/sqlFTPTest/obj/Debug/sqlFTPTest.csprojAssemblyReference.cache
/SqlFTP/sqlFTP_Source/.vs/sqlFTP/v16/.suo
/SqlFTP/sqlFTP_Source/.vs/sqlFTP/v16/Server/sqlite3/db.lock
/SqlFTP/sqlFTP_Source/.vs/sqlFTP/v16/Server/sqlite3/storage.ide
/SqlFTP/sqlFTP_Source/.vs/sqlFTP/v16/Server/sqlite3/storage.ide-wal
/SqlFTP/sqlFTP_Source/.vs/sqlFTP/v16/Server/sqlite3/storage.ide-shm
/SqlFTP/sqlFTP_Source/sqlFTP/bin/Release
/Charismatech.Messenger/.vs/Charismatech.Messenger/v16/Server/sqlite3
/Charismatech.Messenger/Charismatech.MessageQueueClasses/obj/Debug
/Charismatech.Messenger/MessageQueueForms/bin/Debug
/Charismatech.Messenger/MessageQueueForms/obj/x86/Debug
/Charismatech.Messenger/MessageQueueService/bin/Debug
/Charismatech.Messenger/MessageQueueService/obj/x86/Debug
/Charismatech.Messenger/Charismatech.MessageQueueClasses/bin/Debug
/Charismatech.Messenger/packages/Newtonsoft.Json.12.0.3
/Charismatech.Messenger/MessageQueueService/.vs/MessageQueueService/v16/.suo
/Charismatech.Messenger/.vs/Charismatech.Messenger/DesignTimeBuild/.dtbcache.v2
/Charismatech.Messenger/.vs/Charismatech.Messenger/v16/.suo
/Charismatech.Messenger/MessageQueueForms/obj/x86/Release/MessageQueueForms.csprojAssemblyReference.cache
/Charismatech.Messenger/MessageQueueTests/obj/Debug/MessageQueueTests.csprojAssemblyReference.cache
/Charismatech.Messenger/packages/Whatsapp.NET.1.2.2/.signature.p7s
/Charismatech.Messenger/packages/Whatsapp.NET.1.2.2/Whatsapp.NET.1.2.2.nupkg
/Charismatech.Messenger/packages/Whatsapp.NET.1.2.2/lib/WhatsAppApi.dll
/Charismatech.Messenger/.vs/Charismatech.Messenger/v15
/Charismatech.Messenger/MessageQueueService/MessageQueueService.csproj.user
/SqlFTP/sqlFTPTest/.vs/sqlFTPTest/v15
/SqlFTP/sqlFTPTest/sqlFTPTest/bin/Debug
/SqlFTP/sqlFTPTest/sqlFTPTest/obj/Debug
/Charismatech.Messenger/.vs/Charismatech.Messenger/v16/TestStore/0
/bin/Debug
/obj/Debug
/packages
/TestConsoleApp/TestConsoleApp/obj/Debug
