<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="DBConnectionString" connectionString="Data Source=154.0.160.101,1433;Initial Catalog=NetJetcmoadtrp;User ID=teamtimewebuser;Password=tt@2014*;Connect Timeout=30;Application Name=NetJetWeb2;" />
	</connectionStrings>
	<appSettings>
		<add key="IMAPServer" value="mail.netjet.co.za" />
		<add key="IMAPPort" value="993" />
		<add key="IMAPUseSSL" value="true" />
		<add key="IMAPUsername" value="timeentry@netjet.co.za" />
		<add key="IMAPPassword" value="NNNjjj2025$$$" />
		<add key="FromEmail" value="service@charismatech.co.za" />
		<add key="BccEmail" value="service@charismatech.co.za" />
		<add key="ErrorEmails" value="service@charismatech.co.za" />
		<add key="DebugMode" value="true" />
		<!--Minutes to sleep between iterations-->
		<add key="SleepTimeMinutes" value="5"  />
		<!--Seconds to sleep between email attempts-->
		<add key="CheckIntervalSeconds" value="10"  />
	</appSettings>
</configuration>