<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="IMAPServer" value="mail.netjet.co.za" />
        <add key="IMAPPort" value="993" />
        <add key="IMAPUseSSL" value="true" />
        <add key="IMAPUsername" value="timeentry@netjet.co.za" />
        <add key="IMAPPassword" value="NNNjjj2025$$$" />
        <add key="FromEmail" value="service@charismatech.co.za" />
        <add key="BccEmail" value="service@charismatech.co.za" />
        <add key="ErrorEmails" value="service@charismatech.co.za" />
    </appSettings>
</configuration>